"*":
  editor:
    fontFamily: "Menlo"
    autoIndentOnPaste: false
    invisibles: {}
    fontSize: 11
  core:
    projectHome: "/u/work"
    themes: [
      "beacon-ui"
      "base16-tomorrow-dark-theme"
    ]
  "exception-reporting":
    userId: "425745cb-d16a-d29f-21a2-e71c5efc21ec"
  welcome:
    showOnStartup: false
  "tree-view":
    hideVcsIgnoredFiles: true
  emmet: {}
  "markdown-preview": {}
  "go-plus":
    goPath: "/u/work/go"
  react: {}
  jshint:
    supportLintingJsx: true
  docblockr:
    newline_after_block: true
".php.source.wordpress":
  editor:
    tabLength: 4
