"*":
  "autocomplete-php": {}
  core:
    projectHome: "/u/work"
    themes: [
      "one-dark-ui"
      "neutron-syntax"
    ]
  docblockr: {}
  editor:
    autoIndentOnPaste: false
    fontFamily: "Menlo"
    fontSize: 11
    invisibles: {}
  emmet: {}
  "exception-reporting":
    userId: "425745cb-d16a-d29f-21a2-e71c5efc21ec"
  "file-icons":
    coloured: false
  "go-plus":
    goPath: "/u/work/go"
  jshint:
    supportLintingJsx: true
  "language-babel": {}
  linter: {}
  "linter-eslint":
    disableWhenNoEslintrcFileInPath: true
    eslintPath: "/usr/local/bin/eslint"
  "linter-phpcs":
    tabWidth: 4
  "markdown-preview": {}
  react: {}
  "tree-view":
    hideIgnoredNames: true
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
".php.source.wordpress":
  editor:
    tabLength: 4
